<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{mainNews.title}}</title>
</head>
<body>

    <!-- Вывод картинок новостя -->
    {% for item in images %}
        <img src="{{ item.image.url }}">
    {% endfor %}

    <!-- Вывод текстов новостя -->
    {% for item in details %}
        <p>item.text</p>
    {% endfor %}
</body>
</html>