{% extends 'baseElements.html' %}
{% load static %}
{% block content %}
      <h1>Chat with GPT-3</h1>
      <form id="chat-form">
        {% csrf_token %}
        <label for="question">Ask a question:</label>
        <input type="text" id="question" name="question">
        <button type="submit">Ask</button>
      </form>
      <label id="answer"></label>


      <br/>
      <h1>Вопросы</h1>
      {% for item in rows %}
        <a href="{% url 'question' item.id %}">
          {{item.questions}}
        </a>
        <br/>
      {% endfor %}

      <script>
        // Отправляем запрос на сервер, когда пользователь отправляет форму
        $("#chat-form").submit(function(event) {
          event.preventDefault();
          $.post("/chat/", $(this).serialize(), function(data) {
            $("#answer").text(data.answer);
            var label = document.getElementById("answer")
            label.innerHTML = data.answer
          });
        });
      </script>
{% endblock %}
